div.after-header {
    padding-top: 100px;
    width: 100%;
}

div.rooms {
    /* padding-top: 25px; */
    width: 100%;
}

table {
    width: 100%;
    border: 4px solid;
    border-spacing: 3px;
}

table td {
    padding: 20px;
    background-color: #c5c5f8;
    text-align: center;
    border: 3px solid;
    border-spacing: 3px;
    font-weight: bold;
    font-style: italic;
}

table th {
    border: 3px solid;
    border-spacing: 3px;
    background-color: aquamarine;
}

select {
    border-radius: 15px;
    text-align: center;
}

div.buttons {
    padding: 10px;
    text-align: center;
}

div.buttons input {
    border-radius: 50px;
    padding: 10px;
    font-size: 55px;
}