div.rooms_in_reservation {
    padding-top: 100px;
    width: 100%;
}

div.card {
    border: 6px solid gray;
    padding: 20px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 15px;
}

div.img_name_mail img {
    height: 250px;
    width: 250px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 2px;
}

div.name_mail {
    display: inline-block;
}

div.img_name_mail a {
    text-decoration: none;
}