<header>
    <nav>
        <p>Welcome</p>
    </nav>

    <nav>
        <li class="dropdown">
            <a href="#" class="dropbtn">Rooms Info</a>
            <div class="dropdown-content">
                <a href="search_for_rooms.php">search for room</a>
                <a href="show_available_rooms.php">show available rooms</a>
                <a href="show_non_available_rooms.php">show non available rooms</a>
                <a href="show_all_rooms.php">show all rooms</a>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" class="dropbtn">Reservations Info</a>
            <div class="dropdown-content">
                <a href="conf_rej_wait_res1.php">confirm & reject waiting reservation</a>
                <a href="modify_rooms_1.php">modify rooms in confirmed reservations</a>
                <a href="modify_rejected_res1.php">modify rejected reservations</a>
                <a href="cancel_confirm1.php">canceling confirmed reservation</a>
            </div>
        </li>
    </nav>

    <nav>
        <a href="#">logout</a>
    </nav>
</header>